<!DOCTYPE html>
<html>
 <head>
    <title>{{page.title}} </title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css">
    <script src="https://use.fontawesome.com/bf7dcbd84d.js"></script>
    <meta name=viewport content="width=device-width, initial-scale=1">
    </head>
     <body>
      <header>
        <!-- Mobile Nav Starts Here-->
        <div id="container" class="mob-show grid">

    <div class="col-6">
    </div>
    <div class="col-6">
      <nav>
        <a href="#home" title="Home" class="toggle-mobile-menu">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </a>
      </nav>
    </div>

  <nav id="mobile-navigation" class="grid-middle-center-noBottom-noGutter bg-yellow animate">
      <a class="col-12 center toggle-mobile-menu" href="#home">
        <i class="fa fa-times" aria-hidden="true"></i>    
      </a>
      <a class="col-12 center" href="#Home" class="toggle-mobile-menu">Home</a>
      <a class="col-12 center" href="#About" class="toggle-mobile-menu">About</a>
      <a class="col-12 center" href="#Assistance" class="toggle-mobile-menu">Assistance</a>
      <a class="col-12 center" href="#Blog" class="toggle-mobile-menu">Blog</a>
      <a class="col-12 center" href="#Subscribe" class="toggle-mobile-menu">Subscribe</a>
      <a class="col-12 center" href="#Contact" class="toggle-mobile-menu">Contact</a>
  </nav>
  
</div> <!-- #container -->
        <!--mobile Nav Ends Here -->
        <nav class="grid-spaceBetween mob-hide">
         <div class="col-5">
           <img src="images/LO.png" alt="my logo" class="logo"/>
         </div>
         <div class="navlinks">
             <a class="col-1" href ="#Home"> Home </a>
             <a class="col-1" href ="#About"> About </a>
             <a class="col-1" href ="#Assistance"> Assistance </a>
             <a class="col-1" href ="https://livethisisnotarehearsal.wordpress.com/">Blog</a>
             <a class="col-1" href ="#Subscribe"> Subscribe </a>
             <a class="col-1" href ="#Contact"> Contact <a>
          </div>
        </nav>
           <div class="grid-center">
             <h1 class="col-12"> Welcome to my world! </h1>
             <h2 class="col-12"> I'm Nadia Lorraine </h2>
             <h3 class="col-12"> Writer. </br> Front-web developer. </h3>

            </div>
        </header>
      
{{content}}
      <footer id="Contact">
             <h2> Follow me </h2>
             <nav class="grid-spaceBetween">
                <a class="col-3" href="https://www.facebook.com/nadialorraine"><i class="fa fa-facebook" aria-hidden="true" ></i></a>
                <a class="col-3" href="https://www.linkedin.com/in/nadia-lorraine-niyonsaba-a8700a13a/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a class="col-3" href="https://twitter.com/NadiaLorraine"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a class="col-3" href="https://www.instagram.com/nadia__lorraine/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </nav>
            </footer>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!--JQUERY link-->
            <script src="/javascript/scripts.js"> </script> <!--javascript link-->
        </body>
    </html>
            